.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{

    width : 450px;
    height: 300px;
    border-bottom: 15px solid white;
    border-right: 15px solid white;
    border-left: 15px solid white;
    border-top:15px solid white ;
    transition: all 0.2s;
}
img:hover{

    transform: scale(1.1);
}
h1{
    text-align: center;
    font-family:'Karla', sans-serif ;
    border-bottom: 2px solid orangered;
    box-shadow: gray;
}
